@import "../../sass/variables.scss";

.new-hotel {
    margin: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem 4rem;

    &__heading {
        font-size: 8rem;
        align-self: center;
        justify-self: center;
    }

    &__input {
        width: 100%;
        height: 4rem;
        padding-left: 2rem;
        border: none;
        outline: none;
        border-radius: 1rem;
        background-color: rgba($--color-grey-dark-3, 0.4);
    }

    &__input-area {
        margin: 1rem 0;
        box-sizing: border-box;
    }

    &__image-area {
        display: flex;
        justify-content: space-between;
    }
    &__image-input {
        display: none;
    }
    &__image-label {
        text-transform: uppercase;
        border-radius: 1rem;
        background-color: rgba($--color-grey-dark-3, 0.4);
        padding: 1rem 2rem;
        
        &:nth-of-type(2n){
            margin-left: 3rem ;
            flex: 1;
            text-align: center;
        }
    }
    &__adress-input {
        max-width: 31%;
        height: 4rem;
        padding-left: 2rem;
        border: none;
        outline: none;
        border-radius: 1rem;
        background-color: rgba($--color-grey-dark-3, 0.4);
    }

    &__adress-area {
        display: flex;
        justify-content: space-between;
    }

    &__buttons-area {
        display: flex;
        justify-content: space-around;
    }
    
    &__btn{
        border: none;
        outline: none;
        margin: 2rem 3rem; 
        padding: 1rem 2rem;
        border-radius: 4rem;
        background-color: $--color-primary-dark;
        box-shadow: $--shadow-dark;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        transition: all .2s;
    }


    &__btn:hover{
        transform: translateY(-3px);
        cursor: pointer;
    }

    &__btn:active{
        transform: translateY(-3px);
        cursor: pointer;
    }
    &__modal{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
        display: flex;
        z-index: 100;
        &-content{
            margin: auto;
            position: relative;
            
        }
    }
}


.textarea {
    padding-top: 1.2rem;
}
.hidden{
    display: none;
}
// .short-width{
//     width: 58%;
// }
.error{
    background-color: salmon;
}