@import "../../sass/variables.scss";

.register-screen{
    min-width: 100%;
    min-height: 100%;
    margin: 8rem 0;
    transform: translateY(-8rem);
}

.register-screen{
    min-width: 100%;
    min-height: 100%;;
    display: flex;
    &__error{
        color: red;
    }

    


&__form{
    margin:auto;
    padding:2rem 3rem;
    border-radius: 2rem; 
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
    box-shadow: 0 0 40px -10px #000;
    font-family: "Montserrat" "Roboto", sans-serif !important;
    background-color: #ffffff;

    &-heading{
        margin: 2rem 3rem;
        font-weight: bolder;
        color: $--color-primary;
        font-size: 3rem;
    }
    &-input-area{
        min-height: 4rem;
        margin: 2rem 3rem;
        position: relative;
        display: flex;
        background-color: #fff;
        padding-left:1rem;         
        background-color:rgba($--color-grey-dark-3,.5);
        border-radius: 3rem;
        margin-right: 4rem;
        width: 80%;
        
    }
    &-icon-span{ 
        justify-self: flex-end;
        flex:0 0 15%;
        background-color: $--color-primary-light;
        display: flex;
        text-align: center;


        
    }
    &-icon{
        margin: auto;
        
    }
    
        
        &-input{
            width: 100%;
            border:none;
            outline: none; 
            background-color:transparent;
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #ffffff;
                opacity: 1; /* Firefox */
              }
        }
        
        
        &-input:focus{
        border:none;
        outline: none; 
    }

    &-buttons{
        display: flex;
        justify-content: space-around;
    }

    &-btn{
        border: none;
        outline: none;
        margin: 2rem 3rem; 
        padding: 1rem 2rem;
        border-radius: 4rem;
        background-color: $--color-primary-dark;
        box-shadow: $--shadow-dark;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        text-transform: uppercase;
        transition: all .2s;
        color: #fff;
        position: relative;
        overflow: hidden;
        cursor: pointer ;
    }


    &-btn:hover{
        transform: translateY(-3px);
        cursor: pointer;
    }

    &-btn:active{
        transform: translateY(0);
        cursor: pointer;
    }
}

&__btn{
    & >*{
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .2s;
        box-shadow:$--shadow-dark;

    }

    
 
    
    &-invisible{
        position: absolute;
        left: 0;
        top: -100%;
        padding-top: 1.5rem;
    }

    &:hover &-visable{ 
        transform: translateY(-200%);
    }


    &:hover &-invisible{  
        top: 0;  
        
    }

   
}
} 