@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.contact-us {
    height: 100%;
    width: 100%;
    display: flex;
    font-size: 1.6rem;
    padding: 5rem;
    z-index: 100;
    display: flex;
    flex-direction: column;

    &__ {
        margin: auto;
    }

    &__form {
        margin: auto;
        position: relative;
        align-self: center;
        font-family: "Montserrat" "Roboto", sans-serif !important;
        background: #ffffff;
        width: 340px;
        height: fit-content;
        border-radius: 8px;
        box-shadow: 0 0 40px -10px #000;
        padding: 20px 30px;
        max-width: calc(100vw - 40px);
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
    }

    &__heading {
        margin: 1rem 0;
        padding-bottom: 10px;
        width: 180px;
        color: #78788c;
        border-bottom: 3px solid #78788c;
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__input-area {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    &__label {
        display: flex;
    }

    &__input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: none;
        outline: none;
        resize: none;
        border: 0;
        font-family: "Montserrat", sans-serif;
        transition: all 0.3s;
        border-bottom: 2px solid #bebed2;

        &:focus {
            border-bottom: 2px solid #78788c;
        }
    }
    &__btn-area {
        text-align: right;
    }

    &__button {
        padding: 8px 12px;
        margin: 8px 0 0;
        font-family: "Montserrat", sans-serif;
        border: 2px solid #78788c;
        background: 0;
        color: #5a5a6e;
        cursor: pointer;
        transition: all 0.3s;
        margin-bottom: 2rem;

        &:hover {
            background: #78788c;
            color: #fff;
        }
    }

    &__deatails {
        display: flex;
        background: #50505a;
        color: #fff;
        padding: 1rem 1.3rem;
        border-radius: 6px;
        font-size: 13px;
        box-shadow: 10px 10px 40px -14px #000;
        justify-content: space-evenly;

        & > i {
            align-self: center;
            margin-right: 0.75rem;
            width: fit-content;
        }
        & > p {
            width: fit-content;
        }
    }
    &__error {
        align-self: center;
        font-size: 1.6rem;

        color: red;
    }
}
